body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  height: 50px;
  width: 100px;
}

a {
  margin-top: 20px;
  text-decoration: none;
  font-size: large;
  color: red;
}
